<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Crypto</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>



<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />


<style>
  /* .search-table-outter { overflow-x: scroll; }
th, td { min-width: 200px; } */


.wrapper { overflow-x: auto; }
.wrapper table { white-space: nowrap; }
</style>
<body style="background-color: rgb(212, 211, 208);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <!-- topnav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> CRYPTO CURRENCY PRICES IN INDIA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="prices.html"  style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Pricing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

 <br>
<style>
  h4{
    padding-left: 10%;
     padding-right: 10%;  
  }
   p{
     padding-left: 10%;
     padding-right: 10%;
   }
   .qwer{
    padding-left: 7%;
     padding-right: 7%;
   }
   
</style> 
      <div class="main">
      <!-- <div class="search-table-outter"> -->
      <table  class="table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Prices</th>
              
          </tr>
      </thead>
      <tbody>
        {%for i in Crypto%}      
        <tr>
          <td>           
              {{i["Name"]}}
              </td>


              <td>            
                {{i["Price"]}}
               </td>
              

            
            <!-- {%for i in states%}            
            <td>{{i["Price"]}}</td>
            {%endfor%} -->
        </tr>
        {%endfor%}
    </tbody>
      </table>
    </div>
  <div class="ct-chart"></div>



</body>
</html>
